<html>
<link rel="stylesheet" href="/css/error.css">
<body>
<div class="alert">
    <div><img src="/images/error.svg"></div>
    <div class="Main">
        Insufficient Balance
    </div>
    <div class="btn-group">
        <a href="/"><button>Home</button></a>
        <a href="/trecord"><button>Transactions</button></a>
    </div>
</div>
</body>
</html>