<html>
<link rel="stylesheet" href="/css/success.css">
<body>
<div class="alert">
    <div><img src="/images/success.svg"></div>
    <div class="Main">
    Transaction Successful
    </div>
    <div class="btn-group">
        <a href="/"><button>Home</button></a>
            <a href="/trecord"><button>Transactions</button></a>
    </div>
</div>
</body>
</html>